[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    ENV,
    env,
    build,
    dist,
    *.egg-info,
    backend/alembic/versions/*.py,
    .pytest_cache,
    frontend,
    node_modules
ignore = E501, E128, E122, E302, W291, W605, W503, W504, W292
per-file-ignores =
    __init__.py:F401,F403
    backend/alembic/versions/*.py:E501,E128,E122,W291
    backend/tests/*.py:F401,F841,F811
    backend/src/models/*.py:F401,F821
    backend/src/storage/**/*.py:F401,F841
    backend/src/handlers/**/*.py:F401,F541
    backend/src/scripts/*.py:F401,F541
    backend/src/database.py:F401
    backend/src/api/deps.py:F401
    backend/src/transports/json/*.py:F401
